*.log
build/
*.sh
Tools/
Examples/
.idea/
.settings/
*.cfg
.omc/
.claude/
.deepseek/
.vscode/
.vscode/*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.sisyphus/
.docs/
.venv/
Vision/
AGV/
build-codex/
build-codex-root/
.reasonix/
*.py
scripts/
tmp/
.pytest_cache/
.ruff_cache/
.claude/
.agent/
openocd_daplink.cfg
openocd_jlink.cfg
*.su
output/
.codex/
.agent/
User_Configs/
.idea/
Tests/
AGENTS.md

